{

  log {
    output file /var/log/caddy/caddy.log {
      roll_size 10mb
      roll_keep 20
      roll_keep_for 720h
    }
    format console
  }



{% if proxy_http_only is false %}

{% if proxy_cloudflare_api_token is not none %}
  acme_dns cloudflare {{ proxy_cloudflare_api_token }}
{% endif %}

{% if proxy_acme_staging is true %}
  acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
{% endif %}

{% else %}

  auto_https off

{% endif %}

{% if proxy_debug is true %}
  debug
{% endif %}

  email {{ email_username }}

{#
  order cache before rewrite
  cache

  local_certs
  skip_install_trust
#}
}


{% for service in proxy_services %}

{% if service.subdomain is none %}
{% if proxy_http_only is false %}https://{% else %}http://{% endif %}{{ tesseract_domain }} {
{% else %}
{% if proxy_http_only is false %}https://{% else %}http://{% endif %}{{ service.subdomain }}.{{ tesseract_domain }} {
{% endif %}

{#
{% if service.cache is defined and service.cache is true %}
  cache
{% endif %}
#}
  reverse_proxy {{ service.target }}

{% if service.compress is undefined or service.compress is true %}
  encode gzip
{% endif %}

{% if service.http1 is defined and service.http1 is true %}
  tls {
      alpn http/1.1
  }
{% endif %}

}

{% endfor %}
