port: 53
httpPort: 4000
upstream:
  default:
    - https://dns.cloudflare.com # cloudflare
    - https://dns.nextdns.io # nextdns
    - 94.140.14.140 # adguard-dns
    - 46.182.19.48 # digitalcourage
    - https://dnsforge.de/dns-query # dnsforge
blocking:
  blackLists:
    ads:
      - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
  clientGroupsBlock:
    default:
      - ads
customDNS:
  customTTL: 1h
  mapping:
    {{ tesseract_domain }}: {{ dns_proxy_host }}
{%  for record, ip in dns_records.items() %}
    {{ record }}: {{ ip }}
{%  endfor %}
queryLog:
  type: csv
  target: /var/log/blocky
  logRetentionDays: 7