ports:
  dns: {{ blocky_dns_port }}
  http: {{ blocky_http_port }}
upstreams:
  groups:
    default:
{% for server in blocky_upstream_servers %}
      - {{ server }}
{% endfor %}
blocking:
  denylists:
    main:
      {{ blocky_denylists | indent(6) }}
  allowlists:
    main:
{% if blocky_allowlists is not none %}
      {{ blocky_allowlists | indent(6) }}
{% endif %}
  clientGroupsBlock:
    default:
      - main
{% for client in blocky_whitelisted_clients %}
    {{ client }}: []
{% endfor %}
  loading:
    downloads:
      timeout: 4m
      attempts: 5
      cooldown: 10s
{% if blocky_client_lookup_upstream is not none %}
clientLookup:
  upstream: {{ blocky_client_lookup_upstream }}
{% endif %}
customDNS:
  customTTL: 1h
  mapping:
{% for record in blocky_dns_records %}
    {{ record.record }}: {{ record.value }}
{% endfor %}
queryLog:
  type: csv
  target: /var/log/blocky
  logRetentionDays: 7
